<footer>
    <address>
        <p><a href="mailto:olann.lally@mycit.com">olann.lally@mycit.com</a></p>
    </address>
    <p>&copy; 2023 -
    All images used are linked in comments of Relevant EJS Pages/CSS </p>
</footer>
</body> 
</html>