<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workshop Registraton</title>

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<div class="tab">
    <a href="/">Home</a> 
    <a href="/workshops">Book a Workshop</a>
    <a href="/workshops/display">View Bookings</a>
    <a href="/workshops/chooseedit">Modify Booking</a>
    <a href="/workshops/choosedelete">Delete Booking</a>
    <a href="/workshops/report">Search Bookings</a>
    <a href="/aboutUs">About Us</a>
    <a href="/help">Help</a>
</div>

