<%- include('partials/header.ejs') %>

<body>


<div class ="founder">
<h1>About Us</h1>
<p>Our Founder, Consul O, has a dream, he wants to provide the skills and expertise, to the youth, to design their very own animatronics. 
<br>
Since 1987, Consul O has been providing these workshops to great success


</p>
<img src="/images/image0.jpg" alt="Our Founder" width="400" height="500"> <!--Image Source - https://www.reddit.com/media?url=https%3A%2F%2Fi.redd.it%2F3mgcyc4tldvb1.png  -->
</div>

</body>

<%- include('partials/footer.ejs') %>