<%- include('partials/header.ejs') %>

<body>

<div class ="help">
<h1>Help</h1>
<h2>Common Questions and Answers</h2>
<p>
<b>Are the Animatronics safe for children to be around?</b>
<br>
Yes, the animatronics are safe for children to be around, they do uhh, get a little bit quirky at night though.
<br>
<br>
<b>When are the Workshops available?</b>
<br>
The workshops run every year from the 1st day of May to the 1st Day of August. 
<br>Two time slots are available everyday, 1pm and 3pm.
</p>
</div>


</body>

<%- include('partials/footer.ejs') %> 