<%- include('partials/header.ejs') %>

<body class="home">  
    <h1> WELCOME </h1>

    
    <p>
    Here you can book a workshop for learning how to make your very own Animatronic!
    <br>
    <br>
    Use the Navigation Bar to book yourself into a workshop, check current bookings or learn a bit about us.
    If you are stuck check out our Help tab!!
    <br>
    Check out some of Our best Animatronics below.
    </p>


    <img src="/images/Springtrap.png" alt="Our Best Suit" width="300" height="420"> <!-- - https://triple-a-fazbear.fandom.com/wiki/Springtrap-->
    <img src="/images/Freddy.png" alt="Our Best Suit" width="300" height="400"> <!-- - https://fivenightsatfreddys.fandom.com/wiki/Freddy_Fazbear-->
    <img src="/images/Foxy.png" alt="Our Best Suit" width="300" height="400"> <!-- - https://fivenightsatfreddys.fandom.com/wiki/Foxy -->
    <img src="/images/CircusBaby.png" alt="Our Best Suit" width="300" height="400"> <!-- - https://fivenightsatfreddys.fandom.com/wiki/Circus_Baby -->

</body>

<%- include('partials/footer.ejs') %>